# This file is used by https://github.com/direnv/direnv
# Once direnv is installed you can use these shell hooks:
# https://github.com/direnv/direnv/blob/master/docs/hook.md
# to automatically create a nix shell using the commands
# defined in this file
watch_file flake.nix # reload when file changes
watch_file flake.lock # reload when file changes

use flake
