name: â– CD

on:
  workflow_call:
    inputs:
      deploy_infra:
        description: "Deploy infrastructure"
        type: boolean
        default: true
      deploy_app:
        description: "Deploy app"
        type: boolean
        default: true
      deploy_prod:
        description: "Continue with production environment after successful staging deployment"
        type: boolean
        default: false
      version:
        description: "The release version"
        type: string
        required: false
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_ACCESS_KEY_ID_WL_STAGING:
        required: true
      AWS_SECRET_ACCESS_KEY_WL_STAGING:
        required: true
      AWS_ACCESS_KEY_ID_WL_PROD:
        required: true
      AWS_SECRET_ACCESS_KEY_WL_PROD:
        required: true
concurrency: cd

permissions:
  contents: read

jobs:
  get_version:
    name: Get Version
    runs-on:
      group: ${{ vars.RUN_GROUP }}
    steps:
      - name: Get latest release
        id: get_latest_version
        if: ${{ inputs.version == '' }}
        uses: WalletConnect/actions/github/latest_release/@2.1.3

      - name: Get version
        id: get_version
        run: |
          if [ -n "${{ inputs.version }}" ]; then
            echo "version=${{ inputs.version }}" >> "$GITHUB_OUTPUT"
          else
            echo "version=${{ steps.get_latest_version.outputs.version }}" >> "$GITHUB_OUTPUT"
          fi
    outputs:
      version: ${{ steps.get_version.outputs.version }}

  deploy-infra-staging:
    name: Deploy Infra Staging
    uses: ./.github/workflows/sub-infra-apply.yml
    if: ${{ inputs.deploy_infra }}
    needs: [get_version]
    secrets: inherit
    with:
      version: ${{ needs.get_version.outputs.version }}
      environment: 'wl-staging'
      environment_url: https://staging.keyserver.walletconnect.com/health

  deploy-app-staging:
    name: Deploy App Staging
    uses: ./.github/workflows/sub-app-deploy.yml
    if: ${{ (always() && !failure() && !cancelled()) && inputs.deploy_app }}
    needs: [get_version, deploy-infra-staging]
    with:
      image_name: ${{ vars.IMAGE_NAME }}
      version: ${{ needs.get_version.outputs.version }}
      environment: 'wl-staging'
      environment_url: https://staging.keyserver.walletconnect.com/health
    secrets:
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_WL_STAGING }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_WL_STAGING }}

  health-check-staging:
    name: Health Check
    if: ${{ always() && !failure() && !cancelled() }}
    needs: [deploy-app-staging, deploy-infra-staging]
    runs-on:
      group: ${{ vars.RUN_GROUP }}
    environment:
      name: app/wl-staging
      url: https://staging.keyserver.walletconnect.com/health
    steps:
      - name: validate
        run: curl "https://staging.keyserver.walletconnect.com/health"

  deployment_window:
    name: Deployment Window
    needs: [health-check-staging]
    if: ${{ always() && !failure() && !cancelled() }}
    runs-on:
      group: ${{ vars.RUN_GROUP }}
    environment:
      name: app/wl-prod
      url: https://keyserver.walletconnect.com/health
    steps:
      - id: decide
        uses: WalletConnect/actions/deploy-window/@2.1.3
        with:
          earliest-hour: "9"
          latest-hour: "17"
          latest-weekday: "5"
          time-zone: UTC
          force-deploy-phrase: force deploy
    outputs:
      # Ignore deployment windows if workflow was started manually
      result: ${{ steps.decide.outputs.deploy_or_not == 'yes' || github.event_name == 'workflow_dispatch' }}

  deploy-infra-prod:
    name: Deploy Infra Prod
    uses: ./.github/workflows/sub-infra-apply.yml
    if: ${{ always() && !failure() && !cancelled() && inputs.deploy_infra && inputs.deploy_prod && needs.deployment_window.outputs.result == 'true' }}
    needs: [health-check-staging, deployment_window, get_version]
    secrets: inherit
    with:
      version: ${{ needs.get_version.outputs.version }}
      environment: 'wl-prod'
      environment_url: https://keyserver.walletconnect.com/health

  deploy-app-prod:
    name: Deploy App Prod
    uses: ./.github/workflows/sub-app-deploy.yml
    if: ${{ always() && !failure() && !cancelled() && inputs.deploy_app && inputs.deploy_prod && needs.deployment_window.outputs.result == 'true' }}
    needs: [health-check-staging, deployment_window, get_version, deploy-infra-prod]
    with:
      image_name: ${{ vars.IMAGE_NAME }}
      version: ${{ needs.get_version.outputs.version }}
      environment: 'wl-prod'
      environment_url: https://keyserver.walletconnect.com/health
    secrets:
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_WL_PROD }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_WL_PROD }}
